name: auto-merge

on: pull_request_target

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    permissions:
      pull-requests: write
      issues: write
      repository-projects: write
      contents: write
    steps:
      - name: Auto Merge
        uses: steebchen/actions/automerge@v0.7.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
